// Style all your button here

.btn {
	cursor: pointer;
	font-family: $special-type;
	max-width: 100%;
	color: $main-color;
	border: solid 2px $main-color;
	-webkit-font-smoothing: antialiased;
	-moz-webkit-font-smoothing: antialiased;
	-ms-webkit-font-smoothing: antialiased;
	-o-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}