/*
* Style all form elements used in the website
*/

input, textarea {
    width: 100%;
    display: inline-block;
    font-size: rem(15px);
    border: none;
    border-radius: 30px;
    background-color: $white;
    padding: rem(14px);
    font-weight: 700;
    color: $default-color;
}

::placeholder {
    font-size: rem(15px);
    font-weight: 700;
    color: $default-color;
}

.feedback {
    display: none;
    text-align: center;
    font-weight: 400;
}
