html {
	// check _variables.scss and _rem.scss for dynamic rem values
	@include rem-baseline;
}

body {
	font-size: rem(19px);
	font-weight: 400;
	background-color: $default-background; 
	color: $default-color;
	font-family: $default-type;
}

body {
	height: 100%;
}

a {
	transition: all 0.2s ease;
	color: $main-color;
}

strong {
	font-weight: 700;
}