$header-color: $white;
$header-background: $white;
$header-buttons-color: #2589cf;

header {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.53) 0%, rgba(0,0,0,0.07) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.07) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.53) 0%,rgba(0,0,0,0.07) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-size: rem(21px);
    font-style: italic;
    font-weight: 400;
    font-family: $special-type-2;
    -webkit-font-smoothing: antialiased;
    color: $header-color;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    transition: all 0.5s ease;

    .logo-container {
        min-width: 249px;

        @media (min-width: 845px) {
            min-width: 270px;
        }

        img.logo {
            width: 165px;
        }
    }

    .social {
        margin-bottom: 0.8rem;

        button {
            background-color: $header-buttons-color;
            border: none;
            border-radius: 30px;
            font-size: 0.866rem;
            padding: 0.5rem 0.66rem;
            text-transform: uppercase;
            font-family: $special-type;

            &::after {
                content: '\f105';
                font-family: $icon;
                margin-left: 0.6rem;
                transition: all 0.3s ease;
            }

            &:hover::after {
                margin-left: 0.8rem;
            }
        }

        .fa-stack {
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            margin-left: 0.8rem;

            .fa-stack-1x {
                font-size: 1rem !important;
            }

            .fa-stack-2x {
                font-size: 2rem !important;
                color: $header-buttons-color;
            }
        }
    }

    &.sticky {
    	background: $white;
    	color: $main-color ;
    	@include box-shadow(0px, 3px, 10px, 0px, rgba(#000000, 0.1));
    	padding-bottom: 0;

    	a,
    	a:hover {
    		color: $default-color !important;
    	}
    }

    .urgencias {
        -webkit-webkit-font-smoothing: antialiased;
        -moz-webkit-font-smoothing: antialiased;
        -ms-webkit-font-smoothing: antialiased;
        -o-webkit-font-smoothing: antialiased;
        webkit-font-smoothing: antialiased;
        background-color: $white;
        border-radius: 0 0 10px 10px;
        color: $main-color;
        font-size: rem(18px);
        font-weight: 700;
        padding: 0.1rem rem(53px);

        small {
            font-weight: 400;
            font-size: rem(12px);
        }
    }

    nav.menu-principal {

    	display: none;

    	ul {
			list-style-type: none;
			margin-bottom: 0;
			cursor: pointer;
            -webkit-padding-start: 0px;

			> li {
				display: inline;
				margin: 0 rem(14px); 
                padding: 0 rem(8px);

                @media (min-width: 768px) and (max-width: 820px) {
                    margin: 0 .35rem; 
                }

                &.current-menu-item {
                    border-bottom: solid 2px white;
                }

				a,
				a:hover {
					color: $header-color;
					text-decoration: none;
				}

				&.icono {
					margin: 0;
				}

                .fa-stack {
                    width: 1.5rem;
                    height: 1.5rem;
                    line-height: 1.5rem;

                    .fa-stack-2x {
                        font-size: 1.5rem;
                    }
                    .fa-stack-1x {
                        font-size: 1rem;
                    }
                }

                .fa-circle {
                    color: $white;
                }

                .fa-facebook,
                .fa-twitter {
                    color: $secondary-color;
                }
				
			}
		}
    }

	i.menu-movil {
		font-size: 2.5rem;
	}
    
}

.c-offcanvas {
    right: 0;
    padding: 1rem;
    overflow-y: scroll !important;
    max-width: 100%;
}

.c-offcanvas--overlay {
    z-index: 600 !important;
}

.js-offcanvas{
    background-color: $secondary-color !important;
    background-image: url(img/manito.png)!important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;

    button {
            background-color: $header-buttons-color;
            border: none;
            border-radius: 30px;
            font-size: 0.866rem;
            padding: 0.5rem 0.66rem;
            text-transform: uppercase;
            font-family: $special-type;

            &::after {
                content: '\f105';
                font-family: $icon;
                margin-left: 0.6rem;
                transition: all 0.3s ease;
            }

            &:hover::after {
                margin-left: 0.8rem;
            }
        }

    a {
        color: white;
        outline: 0;
    }


   .dropdown-menu {
        position:relative;
        border:none;
    }

    .menu-movil ul {
        list-style-type: none;
        padding-left: 0;

        > li {
            padding: 0.8rem 0;
            text-transform: uppercase;
            font-family: $special-type;
            font-size: 1rem;
            padding: 0.5rem 0;
            border-bottom: solid 1px $white;

            &.current-menu-item a {
                color: $main-color !important;
            }

            &:first-child {
                border-top: solid 1px $white;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}