// Extra small devices (portrait phones)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones)
@media (min-width: map-get($grid-breakpoints, sm)) {}

// Medium devices (tablets)
@media (min-width: map-get($grid-breakpoints, md)) {}

// Large devices (desktops)
@media (min-width: map-get($grid-breakpoints, lg)) {}

// Extra large devices (large desktops)
@media (min-width: map-get($grid-breakpoints, xl)) {}


/* 
Note: 
This codes are for reference (for you to do copy/paste where needed)
You need to set variables in sass/bootstrap/_variables.scss with the prefered screen sizes before using this.
*/
