@charset "utf-8";

//Your rem default value
$rem-baseline: 18px;

//Your set of colors for your theme
$custom-colors: (
	blue: #3ab0c8,
	black-blue: #25303e,
	black-green: # 15372f,
	custom_yellow: #e3d554,
	orange: #d56127,
	grey: #bdc6c3,
	custom_white: #ffffff,
	custom_black: #000000
);

// Your main colors
$main-color: map-get($custom-colors, blue);
$secondary-color: map-get($custom-colors, orange);
$default-color: map-get($custom-colors, black-blue);

// And yeah, the black & white colors
$black: map-get($custom-colors, black);
$white: map-get($custom-colors, custom_white);
$default-background: $white;

// Types, you need to call these from footer.php (Google Fonts)
$icon: 'FontAwesome';
$default-type: 'Roboto Slab', serif;
$special-type: 'Montserrat', sans-serif;