#banner-nosotros {
	background-image: url(img/nosotros/banner.jpg);
	background-size: cover;
	background-position: 80% center;

	p {
		font-size: rem(12px);
		-webkit-font-smoothing: antialiased;
 
		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			font-size: rem(16px);
		}
	}
}

#especialistas {
	background: #ffc114;
	background: -moz-linear-gradient(top, #ffc114 0%, #ff9e07 100%);
	background: -webkit-linear-gradient(top, #ffc114 0%,#ff9e07 100%);
	background: linear-gradient(to bottom, #ffc114 0%,#ff9e07 100%);
	padding: rem(24px) 0 0;

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		padding: rem(48px) 0 rem(68px);
	}

	img {
		border: solid 5px $white;
		max-width: 150px;

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			max-width: 230px;
		}
	}

	h3 {
		font-family: $special-type;
		-webkit-font-smoothing: antialiased;
		-moz-webkit-font-smoothing: antialiased;
		-ms-webkit-font-smoothing: antialiased;
		-o-webkit-font-smoothing: antialiased;
		webkit-font-smoothing: antialiased;
		font-size: rem(22px);
		color: $main-color;
		margin-top: rem(15px);
		margin-bottom: 0;
	}

	.especialidad {
		overflow: hidden;
		max-width: 80%;
		margin: 0px auto rem(20px);

		span {
			font-family: $special-type;
			-webkit-font-smoothing: antialiased;
			-moz-webkit-font-smoothing: antialiased;
			-ms-webkit-font-smoothing: antialiased;
			-o-webkit-font-smoothing: antialiased;
			webkit-font-smoothing: antialiased;
			font-style: italic;
			text-transform: uppercase;
			color: white;
			font-size: rem(15px);
			display: block;
			padding: 0 rem(7px);
			position: relative;
			display: inline-block;

			&::before,
			&::after {
				background: $white;
				content: "";
				display: inline-block;
				height: 1px;
				position: absolute;
				top: 50%;
				width: 400%;
			}

			&::before {
				right: 100%;
			}

			&::after {
				left: 100%;
			}
		}
	}
}

#instalaciones {
	padding-top: rem(24px);
	padding-bottom: rem(40px);

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		padding-top: rem(106px);
		padding-bottom: rem(54px);
	}

	.grid-sizer,
	.grid-item {
		width: 100%;
		margin-bottom: 0.5rem;

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) {
			width: 49%;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			width: 32%;
		}

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			width: 23%;
		}
	}

	.link-galeria {

		&:hover {

			.overlay {
				visibility: visible;
			}
		}

		.overlay {
			visibility: hidden;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(#000000,0.5);
			transition: all 0.3s ease;
			

			.ampliar {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
	}

	.gutter-sizer {
		width: 1%;
	}

	h1 {
		font-size: rem(34px);
	}
}

.popup_especialista {
	display: none;
	width: 1088px;
	max-width: 90%;
	font-size: rem(17px);
	color: white;
	background-color: $main-color !important;
	padding: 5px !important;

	.border-left {
		border-left: none;

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			border-left: solid 2px map-get($colors, yellow);
		}
	}

	h1 {
		font-family: $special-type;
		font-size: rem(27px);
		color: map-get($colors, yellow);
		-webkit-font-smoothing: antialiased;
		-moz-webkit-font-smoothing: antialiased;
		-ms-webkit-font-smoothing: antialiased;
		-o-webkit-font-smoothing: antialiased;
		webkit-font-smoothing: antialiased;
		margin-bottom: 0;
	}

	.especialidad {
		overflow: hidden;
		margin: 0px auto rem(20px);

		span {
			font-family: $special-type;
			-webkit-font-smoothing: antialiased;
			-moz-webkit-font-smoothing: antialiased;
			-ms-webkit-font-smoothing: antialiased;
			-o-webkit-font-smoothing: antialiased;
			webkit-font-smoothing: antialiased;
			font-style: italic;
			text-transform: uppercase;
			color: map-get($colors, pink);
			font-size: rem(15px);
			display: block;
			padding: 0 rem(7px);
			position: relative;
			display: inline-block;

			&::after {
				background: map-get($colors, pink);
				content: "";
				display: inline-block;
				height: 1px;
				position: absolute;
				top: 50%;
				width: 50%;
			}

			&::after {
				left: 100%;
			}
		}
	}

	img {
		border: solid 5px $white;

		&.doctor-popup {
			max-width: 150px;
		}
	}

	hr {
		border-top: 1px solid map-get($colors, yellow);
	}

	h2 {
		font-family: $special-type;
		font-size: rem(21px);
		border-left: solid rem(12px) white;
		padding-left: rem(12px);
		-webkit-font-smoothing: antialiased;
		-moz-webkit-font-smoothing: antialiased;
		-ms-webkit-font-smoothing: antialiased;
		-o-webkit-font-smoothing: antialiased;
		webkit-font-smoothing: antialiased;

		&.idiomas {
			border-left: none;
			background-color: white;
			color: #000000;
			padding: rem(20px) rem(28px);
		}
	}

	.formacion {
		border-left: solid rem(2px) white;
		padding-left: rem(6px);
		margin-bottom: rem(27px);
	}
}