#banner-privacidad {
	background-image: url(img/contacto/banner.jpg);
	background-position: 75% center;
	background-repeat: no-repeat;
	background-size: cover;
	height: rem(380px);

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		height: rem(410px);
	}
}